.wrapper{
    display: flex;

}
body {
    margin: 0;
    padding:0;
    min-height: 100vh;
    font-family: "Dead Font Walking", sans-serif;
}
@font-face{
    font-family: 'Dead Font Walking';
    src: url('/fonts/dead_font_walking/DeadFontWalking.otf') format('opentype');
}
.grid {
    display: grid;
    grid-template-columns: repeat(50, 8px);
    grid-template-rows: repeat(50, 8px);
}

.grid button {
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 0;
    border:none;
    position:relative;

}
.grid form{
    display: contents;

}

.grid div{
    display: contents;
}


.setFilter::after{
    position: absolute;
    content:'';
    inset:0;
    background-color: rgba(99,184,255,0.7);
   }

.hell .untertitel {
    margin-left:18.5em;
    margin-bottom: 1em;
}
.hell{
    background-image: url('/images/light_motiv.jpg');
    background-size: cover;
    background-position: top center;
    color: 	#ee2c2c;

}

.hell .grid button:hover{
     transform: scale(1.5);
     outline: 0.2px solid 	#ee2c2c;
     z-index: 1;
 }
.hell .button-bereich button{
    border: none;
    font-family: "Dead Font Walking",sans-serif;
    border-radius: 0.6em;
    height: 2em;
    color: white;
    background: linear-gradient(to bottom, #ffffff 1%, #ee2c2c 60%);
}

.hell .suchfunktion button{
    border: none;
    border-radius: 0.6em;
    height: 2em;
    color: white;
    font-family: "Dead Font Walking",sans-serif;
    background: linear-gradient(to bottom, #ffffff 1%, #ee2c2c 60%);
}
.hell .button-style {
    display:block;
    border: none;
    font-size: 13px;
    font-family: "Dead Font Walking",sans-serif;
    text-decoration: none;
    text-align: center;
    border-radius: 0.7em;
    height: 25px;
    padding: 0.1em;
    line-height:25px;
    width:50px;
    color: white;
    background: linear-gradient(to bottom, #ffffff 1%, #ee2c2c 60%);
}
.dunkel .suchfunktion button{
    border: none;
    border-radius: 0.6em;
    height: 2em;
    color: white;
    font-family: "Dead Font Walking",sans-serif;
    background: linear-gradient(to bottom, #ffffff 1%, #666666 60%);

}
.dunkel .untertitel{
    margin-left:17.5em;
    margin-bottom: 1em;
}
.dunkel{
    background-image: url('/images/dark_motiv.jpg');
    background-size: cover;
    background-position: top center;
    color:lightgrey;

}
.dunkel .grid button:hover{
       transform: scale(1.5);
       outline: 0.2px solid #303030;
       z-index: 1;
   }
.dunkel .button-bereich button{
    border: none;
    font-family: "Dead Font Walking",sans-serif;
    border-radius:0.6em;
    height: 2em;
    color: white;
    background:linear-gradient(to bottom, #ffffff 1%, #666666 60%);
}

.dunkel .button-style {
    display:block;
    border: none;
    font-size: 13px;
    font-family: "Dead Font Walking",sans-serif;
    text-decoration: none;
    text-align: center;
    border-radius: 0.7em;
    height: 25px;
    padding: 0.1em;
    line-height:25px;
    width:50px;
    color: white;
    background: linear-gradient(to bottom, #ffffff 1%, #666666 60%);
}
.left{
    margin-left: 10em;
    margin-top: 10em;
}

.button-bereich{
    margin-left:9em;
    padding-top: 1em;
}

.right{
    margin-left: 7em;
    margin-top:12em;

}
.right input[readonly]{
    background-color: #cccccc;
    color:#666666;
    font-family: "Dead Font Walking",sans-serif;
    border: none;
}
.right input{
    text-align: center;
    width: 2em;
}

.info-bereich {
    display: grid !important;
    align-items: center;
    grid-template-columns: 150px 80px;
    row-gap: 1em;
    column-gap: 2em;
    margin-bottom: 6em;
}

.phase, .stabilisatoren {
    display: contents;
}

.stabilisatoren span{
    font-size: 0.7em;
}
.suchfunktion > label{
    display: block;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.2em;

}
.suchfunktion form label{
    font-size: 1em;
}
.suchfunktion form {

    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1em;

}
.suchfunktion input{
    width: 4em;
    font-family: "Dead Font Walking",sans-serif;
}
