<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <title>Claudias Kugelweltkarte</title>
</head>
<body th:class="${phase %2 != 0? 'hell':'dunkel'} + ' ' + ${isHistoricPhase ? ' historic' : ''}">

<div class="wrapper">
    <div class="left">

        <div class="untertitel" th:text="${phase %2 != 0? 'HELLE PHASE':'DUNKLE PHASE'}">Platzhalter</div>
        <div class="grid">
            <div th:each="row : ${grid.cells}">
                <div th:each="cell : ${row}">
                <form th:action="@{/map/stabilize/{x}/{y}(x=${cell.x},y=${cell.y})}" method="post">
                    <button type="submit" th:classappend="${cell.isStabilized() ? 'setFilter' : ''}" th:style="'background-image: url(' + ${cell.biomeType.imagePath} +'); background-size: cover; cursor: pointer;'" th:disabled="${isHistoricPhase}"></button>
                </form>
                 </div>
            </div>
        </div>

            <div class="button-bereich">
                <form th:action="@{/map/next}" method="post" th:if="${!isHistoricPhase}">
                    <button type="submit" >Phasenwechsel</button>
                </form>

            </div>

</div>
    <div class="right">
    <div class="info-bereich">
        <div class="phase">
            <span>PHASE</span>
            <input type="text" readonly th:value="${phase}">
        </div>
        <div class="stabilisatoren" th:if="${!isHistoricPhase}">
            <label>Stabilisatoren <span> max 25</span></label>

            <input type="text" readonly th:value="${stabilizers}">
        </div>
    </div>

        <div class="suchfunktion">
        <label>Suchfunktion</label>
        <form action="/map/phase" method="get">
            <label>gewünschte Phase eingeben:</label>
            <input type="number" name="phaseNumber" placeholder="Phase">
            <button type="submit">Suche</button>
            <a class="button-style" th:href="@{/map}" th:if="${isHistoricPhase}">zurück</a>
        </form>
        </div>
    </div>
</div>

</body>
</html>